extends ./_master

block append content
    .container
        p.title 模拟mock数据 拦截ajax请求示例
        .login-example
            input(placeholder='请输入账号' v-bind='Username')
            input(placeholder='请输入密码' v-bind='Password')
            a(v-bind='LoginBtn') 登录（通过ajax请求数据）

block append script
    script(src='/resource/script/ajax-mock.babel.js')
    