
$height: 50px

.login-example
    padding: 300px
    input,
    a
        display: block
        width: 100%
        height: $height
        margin-bottom: 30px
        border: 1px solid #ccc
        padding: 0 10px
    a
        cursor: pointer
        text-align: center
        background: #f0f0f0
        line-height: $height